<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/sidebar.ejs') %>
            <%- include('partials/header.ejs') %>
                <main class="nxl-container">
                    <div class="nxl-content">
                        <div class="page-header">
                            <div class="page-header-left d-flex align-items-center">
                                <div class="page-header-title">
                                    <h5 class="m-b-10">B-Leave</h5>
                                </div>
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item">Permission 2h</li>
                                    <li class="breadcrumb-item">List</li>
                                </ul>
                            </div>
                            <div class="page-header-right ms-auto">
                                <div class="page-header-right-items">
                                    <div class="d-flex d-md-none">
                                        <a href="javascript:void(0)" class="page-header-right-close-toggle">
                                            <i class="feather-arrow-left me-2"></i>
                                            <span>Back</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-md-none d-flex align-items-center">
                                    <a href="javascript:void(0)" class="page-header-right-open-toggle">
                                        <i class="feather-align-right fs-20"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- [ page-header ] end -->
                        <div class="bg-white py-3 border-bottom rounded-0 p-md-0 mb-0">
                            <div class="d-md-none d-flex align-items-center justify-content-between">
                                <a href="javascript:void(0)" class="page-content-left-open-toggle">
                                    <i class="feather-align-left fs-20"></i>
                                </a>
                            </div>
                        </div>
                        <!-- [ Main Content ] start -->
                        <div class="main-content">
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="overviewTab">
                                    <div class="row">

                                        <div class="col-12">
                                            <div class="card stretch stretch-full">
                                                <div class="card-header">
                                                    <h5 class="card-title">Permission 2h list</h5>
                                                    <div
                                                        class="col-10 task-header d-md-flex align-items-center justify-content-between">
                                                        <div class="me-4 w-75">
                                                        </div>
                                                        <div class="">
                                                            <div class="d-flex gap-2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body custom-card-action p-0">
                                                    <div class="table-responsive mb-3">
                                                        <table class="table table-hover mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th>Matricule</th>
                                                                    <th>Fullname</th>
                                                                    <th>Start time</th>
                                                                    <th>End time</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% data.forEach(d=> { %>
                                                                    <tr>
                                                                        <td>
                                                                            <%= d.employee.matricule %>
                                                                        </td>
                                                                        <td>
                                                                            <%= d.employee.fullname %>
                                                                        </td>
                                                                        <td>
                                                                            <%= d.expectedStartTime %>
                                                                        </td>
                                                                        <td>
                                                                            <%= d.expectedEndTime %>
                                                                        </td>
                                                                    </tr>
                                                                    <% }) %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%- include('partials/footer.ejs') %>